<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css">
	<link rel="stylesheet" href="css/font.css">
	<!--<link rel="stylesheet" href="personal area.css">-->
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<section  id="screen-1" class="screen-1 screen" class="colordiv" >
	<header >
	<div class="info" class="container">
				<div class="kontakt">
				<div class="number">
					<ul>
						<li><i class="fa fa-phone" aria-hidden="true"></i></li>
						<li>+7(989)-891-18-79</li>
					</ul>
				</div>
				<div class="adres">
					<i class="fa fa-map-marker" aria-hidden="true"></i> г.Махачкала, ул.Мейдан, дом.Шайтан, пока найдешь с ума сойдешь 
				</div>
			</div>
			</div>
		<div class="container row">
			<div class="logoandmore">
				<div id="logo" class="logo">
					<img src="img/logo.png" alt="">
				</div>
				<div class="freshmeat">
					<h2>БАРАШ-ОНЛАЙН</h2>
					<h5>СВЕЖЕЕ МЯСО НЕ ВЫХОДЯ ИЗ ДОМА</h5>
				</div>
			</div>
			<nav class="men row">
				<a href="#">ПРОДУКЦИЯ</a>
				<a href="#">АКЦИИ</a>
				<a href="#">ПАРТНЕРСТВО</a>
				<a href="#">О ПРОЕКТЕ</a>
				<a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> ВХОД</a>
			</nav>
		</div>
	</header>	
	<div class="container zakazi">
		<div class="myzak">
			<h1> МОИ ЗАКАЗЫ</h1>
		</div>
		<div class="opiszakaza">
			<div class="img-zakaz">
				<div class="sheep">
					<img src="sheep.png" alt="">
				</div>
			</div>
			<div class="about-zakaz">
				<div class="text-about">
					<h2>БАРАНИНА</h2>
					<h3>Стадия вашего заказа:</h3>
				</div>
				<div class="stad-zakaz">
					<div class="utoch-zakaz"><p>Уточнение заказа</p>
						<div class="dl-hr selected">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz "><p>Оформление заказа</p>
						<div class="dl-hr selected">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz"><p>Разделка мяса</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz"><p>Отправленно</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz"><p>Доставлено</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>

				</div>
			</div>
			<div class="button-zakaz">
				<div class="stop-zakaz"><button>ПРИОСТАНОВИТЬ ЗАКАЗ</button></div>
				<div class="menedjer"><button>СВЯЗАТЬСЯ С МЕНЕДЖЕРОМ</button></div>
			</div>
		</div>
		<div class="opiszakaza">
			<div class="img-zakaz">
				<div class="sheep">
					<img src="sheep.png" alt="">
				</div>
			</div>
			<div class="obertk-about"></div>
			<div class="about-zakaz">
				<div class="text-about"><h2>БАРАНИНА</h2>
				<h3>Стадия вашего заказа:</h3></div>
				<div class="stad-zakaz">
					<div class="utoch-zakaz"><p>Уточнение заказа</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz"><p>Оформление заказа</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz"><p>Разделка мяса</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz"><p>Отправленно</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz"><p>Доставлено</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>

				</div>
			</div>
			<div class="button-zakaz">
				<div class="stop-zakaz"><button>ПРИОСТАНОВИТЬ ЗАКАЗ</button></div>
				<div class="menedjer"><button>СВЯЗАТЬСЯ С МЕНЕДЖЕРОМ</button></div>
			</div>
		</div>
		<div class="opiszakaza">
			<div class="img-zakaz">
				<div class="sheep">
					<img src="sheep.png" alt="">
				</div>
			</div>
			<div class="obertk-about"></div>
			<div class="about-zakaz">
				<div class="text-about"><h2>БАРАНИНА</h2>
				<h3>Стадия вашего заказа:</h3></div>
				<div class="stad-zakaz">
					<div class="utoch-zakaz"><p>Уточнение заказа</p>
						<div class="dl-hr selected">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz "><p>Оформление заказа</p>
						<div class="dl-hr selected">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz"><p>Разделка мяса</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz"><p>Отправленно</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz"><p>Доставлено</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>

				</div>
			</div>
			<div class="button-zakaz">
				<div class="stop-zakaz"><button>ПРИОСТАНОВИТЬ ЗАКАЗ</button></div>
				<div class="menedjer"><button>СВЯЗАТЬСЯ С МЕНЕДЖЕРОМ</button></div>
			</div>
		</div>
	</div>
	<footer class="screen-4__wrapper__containerfoot">
				<div class="screen-4__wrapper__containerfoot__logoandmoref">
					<div class="screen-4__wrapper__containerfoot__logoandmoref__logof">
						<img src="img/logo.png" alt="">
					</div>
						<div class="screen-4__wrapper__containerfoot__logoandmoref__freshmeatf">
							<h2>БАРАШ-ОНЛАЙН</h2>
							<h5>СВЕЖЕЕ МЯСО НЕ ВЫХОДЯ ИЗ ДОМА</h5>
						</div>

				</div>
				<div class="screen-4__wrapper__containerfoot__menufoot">
				<nav class="screen-4__wrapper__containerfoot__menufoot__men row">
					<a href="#">ПРОДУКЦИЯ</a>
					<a href="#">АКЦИИ</a>
					<a href="#">ПАРТНЕРСТВО</a>
					<a href="#">О ПРОЕКТЕ</a>
					<a href="#">ЛИЧНЫЙ КАБИНЕТ</a>
				</nav>
				<div class="screen-4__wrapper__containerfoot__menufoot__socfoot">
					<a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				</div>
				</div>
				
				</footer>	
	</section>
</body>
</html>