<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/font.css">
	<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css">
	<link rel="stylesheet" href="css/main.css">
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<section  id="screen-1" class="screen-1 screen" >
	<header >
	<div class="info" class="container">
				<div class="kontakt">
				<div class="number">
					<ul>
						<li><i class="fa fa-phone" aria-hidden="true"></i></li>
						<li>+7(989)-891-18-79</li>
					</ul>
				</div>
				<div class="adres">
					<i class="fa fa-map-marker" aria-hidden="true"></i> г.Махачкала, ул.Мейдан, дом.Шайтан, пока найдешь с ума сойдешь 
				</div>
					
	
			</div>
			</div>
		<div class="container row">
			<div class="logoandmore">
				<div id="logo" class="logo">
					<img src="img/logo.png" alt="">
				</div>
				<div class="freshmeat">
					<h2>БАРАШ-ОНЛАЙН</h2>
					<h5>СВЕЖЕЕ МЯСО НЕ ВЫХОДЯ ИЗ ДОМА</h5>
				</div>
			</div>
			<nav class="men row">
				<a href="#">ПРОДУКЦИЯ</a>
				<a href="#">АКЦИИ</a>
				<a href="#">ПАРТНЕРСТВО</a>
				<a href="#">О ПРОЕКТЕ</a>
				<a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> ВХОД</a>
			</nav>
		</div>
	</header>
	<div class="container">
		<div class="select-produkt">
			<h1><span>1.</span>ВЫБЕРИТЕ ПРОДУКЦИЮ</h1>
			<div class="select-meat">
				<div class="sheep">
					<div class="img-icon"><img src="img/Layer-4.png" alt=""></div>
					<div class="icon-text"><h3>БАРАНИНА</h3>
					<p>
						Унас вы можете заказать свежее мясо не выходя из дома.
					</p>
					</div>
				</div>
				<div class="cow">
					<div class="img-icon"><img src="img/Layer-5.png" alt=""></div>
					<div class="icon-text">
						<h3>ТЕЛЯТИНА</h3>
					<p>
						Унас вы можете заказать свежее мясо не выходя из дома.
					</p>
					</div>
				</div>
				<div class="chicken">
					<div class="img-icon"><img src="img/Layer-6.png" alt=""></div>
					<div class="icon-text">
						<h3>КУРИЦА</h3>
					<p>
						Унас вы можете заказать свежее мясо не выходя из дома.
					</p>
					</div>
				</div>
			</div>
			<h1><span>2.</span>ПОДБЕРИТЕ МЯСО ПО ВСЕМ КАТЕГОРИЯМ</h1>
				<div class="podbor-obertk">
					<div class="vibr-produkt"><!-- Здесь будет находиться кнопка выбранного товара-->
						
					</div>
					<div class="row-sel">
						<div class="opis-sel-tov">
							<div class="live-eat">1</div>
							<div class="kol-vo">2</div>
							
						</div>
						<div class="privez-tovar">
							3333
						</div>
					</div>
				</div>
					
			<h1><span>3.</span>ОФОРМИТЕ ЗАКАЗ ЗАПОЛНИВ ПОЛЯ</h1>
				<div class="oform-zakaz">
				<div class="fio"><input  type="text" placeholder="Введите Ф.И.О."></div>
				<div class="p-number"><input type="text" placeholder="+7 (___)-___-__-__"></div>
				<div class="adres"><input type="text" placeholder="Адрес"></div>
			</div>
				div.
		</div>
	</div>
				
	</section>
	<section class="screen-4">
		<div class="screen-4__wrapper">
<footer class="screen-4__wrapper__containerfoot">
				<div class="screen-4__wrapper__containerfoot__logoandmoref">
					<div class="screen-4__wrapper__containerfoot__logoandmoref__logof">
						<img src="img/logo.png" alt="">
					</div>
						<div class="screen-4__wrapper__containerfoot__logoandmoref__freshmeatf">
							<h2>БАРАШ-ОНЛАЙН</h2>
							<h5>СВЕЖЕЕ МЯСО НЕ ВЫХОДЯ ИЗ ДОМА</h5>
						</div>

				</div>
				<div class="screen-4__wrapper__containerfoot__menufoot">
				<nav class="screen-4__wrapper__containerfoot__menufoot__men row">
					<a href="#">ПРОДУКЦИЯ</a>
					<a href="#">АКЦИИ</a>
					<a href="#">ПАРТНЕРСТВО</a>
					<a href="#">О ПРОЕКТЕ</a>
					<a href="#">ЛИЧНЫЙ КАБИНЕТ</a>
				</nav>
				<div class="screen-4__wrapper__containerfoot__menufoot__socfoot">
					<a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				</div>
				</div>
				</footer>	
		</div>

		

</section>  

</body>
</html>