<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css">
	<link rel="stylesheet" href="css/font.css">
	<!--<link rel="stylesheet" href="personal area.css">-->
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<section  id="screen-1" class="screen-1 screen" class="colordiv" >
	<div class="container zakazi">
		<div class="myzak">
			<h1> МОИ ЗАКАЗЫ</h1>
		</div>
		<div class="opiszakaza">
			<div class="img-zakaz">
				<div class="sheep">
					<img src="img/sheep.png" alt="">
				</div>
			</div>
			<div class="about-zakaz">
				<div class="text-about">
					<h2>БАРАНИНА</h2>
					<h3>Стадия вашего заказа:</h3>
				</div>
				<div class="stad-zakaz">
					<div class="utoch-zakaz"><p>Уточнение заказа</p>
						<div class="dl-hr selected">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz "><p>Оформление заказа</p>
						<div class="dl-hr selected">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz"><p>Разделка мяса</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz"><p>Отправленно</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz"><p>Доставлено</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>

				</div>
			</div>
			<div class="button-zakaz">
				<div class="stop-zakaz"><button>ПРИОСТАНОВИТЬ ЗАКАЗ</button></div>
				<div class="menedjer"><button>СВЯЗАТЬСЯ С МЕНЕДЖЕРОМ</button></div>
			</div>
		</div>
		<div class="opiszakaza">
			<div class="img-zakaz">
				<div class="sheep">
					<img src="img/sheep.png" alt="">
				</div>
			</div>
			<div class="obertk-about"></div>
			<div class="about-zakaz">
				<div class="text-about"><h2>БАРАНИНА</h2>
				<h3>Стадия вашего заказа:</h3></div>
				<div class="stad-zakaz">
					<div class="utoch-zakaz"><p>Уточнение заказа</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz"><p>Оформление заказа</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz"><p>Разделка мяса</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz"><p>Отправленно</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz"><p>Доставлено</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>

				</div>
			</div>
			<div class="button-zakaz">
				<div class="stop-zakaz"><button>ПРИОСТАНОВИТЬ ЗАКАЗ</button></div>
				<div class="menedjer"><button>СВЯЗАТЬСЯ С МЕНЕДЖЕРОМ</button></div>
			</div>
		</div>
		<div class="opiszakaza">
			<div class="img-zakaz">
				<div class="sheep">
					<img src="img/sheep.png" alt="">
				</div>
			</div>
			<div class="obertk-about"></div>
			<div class="about-zakaz">
				<div class="text-about"><h2>БАРАНИНА</h2>
				<h3>Стадия вашего заказа:</h3></div>
				<div class="stad-zakaz">
					<div class="utoch-zakaz"><p>Уточнение заказа</p>
						<div class="dl-hr selected">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz "><p>Оформление заказа</p>
						<div class="dl-hr selected">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz"><p>Разделка мяса</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz"><p>Отправленно</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>
					<div class="utoch-zakaz"><p>Доставлено</p>
						<div class="dl-hr">
							<hr>
							<div class="dot"></div>
						</div>
					</div>

				</div>
			</div>
			<div class="button-zakaz">
				<div class="stop-zakaz"><button>ПРИОСТАНОВИТЬ ЗАКАЗ</button></div>
				<div class="menedjer"><button>СВЯЗАТЬСЯ С МЕНЕДЖЕРОМ</button></div>
			</div>
		</div>
	</div>
	</section>

</body>
</html>