<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/font.css">
	<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css">
	<link rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="js/jquery.onepage-scroll.js"></script>
   <link href='css/onepage-scroll.css' rel='stylesheet' type='text/css'>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<main>
		<section  id="screen-1" class="screen-1 screen" >
			<header>
				<div class="info" class="container">
					<div class="kontakt">
						<div class="number">
							<ul>
								<li><i class="fa fa-phone" aria-hidden="true"></i></li>
								<li>+7(989)-891-18-79</li>
							</ul>
						</div>
					<div class="adres">
						<i class="fa fa-map-marker" aria-hidden="true"></i> г.Махачкала, ул.Мейдан, дом.Шайтан, пока найдешь с ума сойдешь 
					</div>
					</div>
				</div>
				<div class="container row">
					<div class="logoandmore">
						<div id="logo" class="logo">
							<img src="img/logo.png" alt="">
						</div>
						<div class="freshmeat">
							<h2>БАРАШ-ОНЛАЙН</h2>
							<h5>СВЕЖЕЕ МЯСО НЕ ВЫХОДЯ ИЗ ДОМА</h5>
						</div>
					</div>
					<nav class="men row">
						<a href="#">ПРОДУКЦИЯ</a>
						<a href="#">АКЦИИ</a>
						<a href="#">ПАРТНЕРСТВО</a>
						<a href="#">О ПРОЕКТЕ</a>
						<a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> ВХОД</a>
					</nav>
				</div>
			</header>
		</section>
		
	</main>
</body>
</html>